<% layout("/layouts/boilerplate") %>
<div class="row">
    <div class="col-8 offset-2">
    <h3>Create a New Listing</h3>
    <form method="POST" action="/listings">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input  name="listing[title]"placeholder="Add a catchy title" type="text" class="form-control">
        </div>

        <div  class="mb-3">
            <label for="discription" class="form-label">Discription</label>
            <textarea  name="listing[description]"placeholder="enter description" class="form-control"></textarea>
        </div>

        <div  class="mb-3">
            <label for="image" class="form-label">Image Link</label>
            <input  name="listing[image][url]"placeholder="enter image/Link" type="text" class="form-control">
        </div>
        <div class="row">
        <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input name="listing[price]"placeholder="1200" type="number" class="form-control">
        </div>

        <div class="mb-3 col-md-8" >
            <label for="Country" class="form-label">Country</label>
            <input type="text" name="listing[country]"placeholder="India" class="form-control">
        </div>
        </div>

        <div class="mb-3">
            <label for="Country" class="form-label">Location</label>
            <input type="text" name="listing[location]"placeholder="Jaipur, Rajasthan" class="form-control">
        </div>
        <br>
        <br>
        <button  class="btn btn-dark add-btn">Add</button>
        <br>
        <br>

    </form>
    </div>
    </div>